* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameRules {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.gameRules span {
    font-weight: 900;
    display: flex;
    justify-content: right;
    padding: 0 10px 0 0;
    cursor: pointer;
}

.allPage {
    padding: 10px 10px 25px 10px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    height: 100vh;
}

.playground {
    max-width: 1300px;
    height: 80%;
    width: 100%;
    top: 10%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    user-select: none;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ---------------------------------- sections */

.sectionLeft {
    width: 33.3%;
}

.sectionRight {
    width: 33.3%;
}

.sectionMiddle {
    width: 33.3%;
}

/* ---------------------------------- middle content */

.dice {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 40px; 
}

.middleText {
    padding-top: 50px;
}

.btn {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    margin: 0 auto;
}

/* ---------------------------------- total score */

.totalScore {
    font-size: 25px;
    color: white;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.totalScore p:nth-child(2) {
    font-size: 40px;
    text-align: center;
}

/* ---------------------------------- current score */

.currentScore {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px auto;
}

.currentScore p {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.currentScore p:nth-child(2) {
    font-size: 40px;
}

/* ---------------------------------- active player */

.active {
    border: 2px solid #ff0081;
    border-radius: 10px;
}

/* ---------------------------------- buttons effect */

.confetti-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  }
  .confetti-button:focus { outline: 0; }
  
  .confetti-button:before, .confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
     radial-gradient(circle, #ff0081 20%, transparent 20%), 
     radial-gradient(circle, #ff0081 20%, transparent 20%), 
     radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), 
     radial-gradient(circle, #ff0081 20%, transparent 20%), 
     radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
     10% 10%, 18% 18%;
  }
   .confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%), 
     radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), 
     radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%),
     radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  
  .confetti-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  .confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  
  .confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
   @keyframes
  topBubbles {  0% {
   background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 
   55% 90%, 70% 90%;
  }
   50% {
   background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 
   65% 20%, 90% 30%;
  }
   100% {
   background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%,
    65% 10%, 90% 20%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  }
  @keyframes
  bottomBubbles {  0% {
   background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
   50% {
   background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
   100% {
   background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  }

/* ---------------------------------- MEDIA QUERY */

@media screen and (max-width: 575px) {
    .confetti-button {
        padding: 10px;
    }

    .totalScore {
        font-size: 20px;
    }

    .btn {
        width: 80%;
    }

    .playground {
        top: 0;
    }
}

@media screen and (max-width: 480px) {
    .totalScore {
        font-size: 12px;
    }

    .currentScore {
        width: 90px;
        height: 100px;
    }

    .currentScore p {
        font-size: 12px;
        padding-top: 0;
    }

    .middleText {
        top: 60%
    }
}

